body {
    background-image: url('assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Inter", sans-serif;
    color: #e0e0e0;
    font-size: 16px;
}

.quiz-container {
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
}

.logo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.logo img {
    width: 200px;
}

h1 {
    color: #e0e0e0;
    margin-bottom: 20px;
    background: none;
}

#answers-container button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    color: rgb(162, 61, 61);
    cursor: pointer;
}

#answers-container button:hover {
    background: #777;
}

#next-button {
    font-family: "Outfit", sans-serif;
    padding: 0.8rem 3.3rem;
    background: #00FFFF;
    color: #0B113B;
    font-weight: bold;
    border: none;
    box-shadow: 0 0 15px #00ffff;
    cursor: pointer;
    font-size: 16px;
}
