body {
    background-image: url('assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Inter", sans-serif;
    color: #e0e0e0;
    font-size: 16px;
} 

strong {
    color: white;
}

.container {
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}

.logo {
    margin-bottom: 40px;
}

.logo img {
    width: 200px;
}

h1 {
    font-family: "Outfit", sans-serif;
    font-size: 50px;
    color: white;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.2;
}

.details p {
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 18px;
}

ul li {
    margin-bottom: 10px;
    font-size: 18px;
}

#resultsList {
    list-style-type: none;
    padding: 0;
}
